# phpStorm Files
.idea/

# Vagrant Files
.vagrant

Thumbs.db
.DS_Store

data/db-backups/*
!data/db-backups/.gitkeep

# WordPress Files
wp-config.php
wp-content/uploads/*
!wp-content/uploads/.gitkeep
wp-content/upgrade/*